@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppin: "Poppin";
}

@layer base {
  /* :root {
    --text: 33, 37, 41;
    --background: 255, 255, 255;
    --primary: 66, 133, 244;
    --secondary: 108, 117, 125;
    --accent: 255, 87, 34;
    --text-dark: 52, 58, 64;
    --background-dark: 248, 249, 250;
    --primary-dark: 50, 103, 188;
    --secondary-dark: 73, 80, 87;
    --accent-dark: 216, 67, 21;
  } */

  :root {
    --text: 51, 51, 51;
    --background: 240, 240, 240;
    --primary: 65, 105, 225;
    --secondary: 119, 136, 153;
    --accent: 255, 127, 80;
    --text-dark: 52, 58, 64;
    --background-dark: 248, 249, 250;
    --primary-dark: 50, 103, 188;
    --secondary-dark: 73, 80, 87;
    --accent-dark: 216, 67, 21;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text: 248, 240, 227;
      --background: 43, 45, 66;
      --primary: 239, 131, 84;
      --secondary: 79, 93, 117;
      --accent: 214, 87, 128;
      --text-dark: 123, 120, 113;
      --background-dark: 21, 22, 33;
      --primary-dark: 119, 65, 42;
      --secondary-dark: 39, 46, 58;
      --accent-dark: 107, 43, 64;
    }
  }

  :root[data-theme="dark"] {
    --text: 248, 240, 227;
    --background: 43, 45, 66;
    --primary: 239, 131, 84;
    --secondary: 79, 93, 117;
    --accent: 214, 87, 128;
    --text-dark: 123, 120, 113;
    --background-dark: 21, 22, 33;
    --primary-dark: 119, 65, 42;
    --secondary-dark: 39, 46, 58;
    --accent-dark: 107, 43, 64;
  }

  /* :root[data-theme="light"] {
    --text: 33, 37, 41;
    --background: 255, 255, 255;
    --primary: 65, 105, 225;
    --secondary: 108, 117, 125;
    --accent: 255, 87, 34;
    --text-dark: 52, 58, 64;
    --background-dark: 248, 249, 250;
    --primary-dark: 50, 103, 188;
    --secondary-dark: 73, 80, 87;
    --accent-dark: 216, 67, 21;
  } */

  :root[data-theme="light"] {
    --text: 33, 37, 41;
    --background: 255, 255, 255;
    --primary: 65, 105, 225;
    --secondary: 108, 117, 125;
    --accent: 255, 87, 34;
    --text-dark: 52, 58, 64;
    --background-dark: 248, 249, 250;
    --primary-dark: 50, 103, 188;
    --secondary-dark: 73, 80, 87;
    --accent-dark: 216, 67, 21;
  }

  body {
    @apply relative z-1 bg-whiten font-poppin text-base font-normal text-text;
  }
}

@layer components {}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--background);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(239, 131, 84, 1);
    border-radius: 100vh;
    /* border: 1px solid transparent; */
  }

  /* .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  } */
}

/* third-party libraries CSS */

.StyFormInput+.StyFormInput {
  @apply mt-4
}